/* Globals*/
body {
    background: #862af0;
 }
nav {
    margin-top: 250px;
}

/* Drop Down */
nav .container {
  list-style: none;
  overflow: hidden;
  height: 172px;
  background-color: #ffffff;
  font-family: Tahoma;
  font-weight: 600;
  width: 500px;
  margin: 0 auto;
  padding: 9px;
  margin-bottom: 15px;
  text-align: center;
}

nav .container.noplegado {
  height: 43px;
}


nav .container li a {
  display: block;
  color: #c4419c;
  text-decoration: none;
  padding: 10px;
}

